/* * {
  margin: 0;
  padding: 0;
  font-family: arial;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
} */
.card {
  width: 280px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: #ccc -3px -3px 10px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.cardTransform {
  transition: 0.5s;
}
.cardTransform {
  height: 100%;
  width: 30%;
  position: absolute;
  z-index: 10;
  transition: 0.5s;
  cursor: context-menu;
  border-radius: 0;
}
.cardTransform .box {
  height: 80%;
}
.cardTransform .title {
  bottom: 65%;
  font-size: 2rem;
}
.cardTransform .content {
  opacity: 1 !important;
  background: #00000050;
  visibility: visible !important;
  border-radius: 15px;
  padding: 25px;
}
.cardTransform .content button {
  display: none;
}
.cardTransform .content p {
  color: #ffffff;
  display: flex;
  margin: 10px;
}
.box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70%;
  width: 80%;
  margin: 0 auto;
}
.card:hover .title {
  bottom: 65%;
}
.title {
  position: absolute;
  bottom: 15%;
  color: #fff;
  text-shadow: #252525 2px 2px 3px;
  transition: 0.5s !important;
}
p {
  margin: 15% 0;
  color: #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.content {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
button {
  transition: 0.5s;
  width: 130px;
  height: 30px;
  border-radius: 25px;
  background: #fff;
  border: none;
  padding: 5px 0;
  cursor: pointer;
  outline: none;
}
button:hover {
  background: #e21622;
  color: #fff;
}
.card:hover .content {
  opacity: 1;
  transition-delay: 0.5s;
  visibility: visible;
}
.closed {
  position: absolute;
  right: 15px;
  top: 5px;
  display: none;
}
.closeding {
  top: 5%;
  right: 5%;
  display: block;
  z-index: 11;
  position: absolute;
}

@media only screen and (max-width: 758px) {
  .cardTransform .box {
    height: 100%;
  }
  .cardTransform .content {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .cardTransform .box {
    height: 100%;
  }
  .cardTransform .content {
    margin-bottom: 25px;
  }
  .cardTransform .title {
    bottom: 80%;
    font-size: 1.6rem;
  }
  .cardTransform p {
    font-size: 14px;
  }
  .cardTransform:hover .title {
    bottom: 80%;
  }
  .cardTransform .closed {
    top: 5%;
  }
}
@media only screen and (max-width: 350px) {
  .cardTransform p {
    font-size: 13px;
  }
  .cardTransform:hover .title {
    bottom: 75%;
  }
  .cardTransform .title {
    bottom: 75%;
  }
}
