/* * {
  margin: 0;
  padding: 0;
  font-family: arial;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
} */
.card {
  width: 280px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: #ccc -3px -3px 10px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.cardTransform {
  transition: 0.5s;
}
.cardTransform {
  height: 100%;
  width: 30%;
  position: absolute;
  z-index: 10;
  transition: 0.5s;
  cursor: context-menu;
  border-radius: 0;
}
.cardTransform .box {
  height: 80%;
}
.cardTransform .title {
  bottom: 65%;
  font-size: 2rem;
}
.cardTransform .content {
  opacity: 1 !important;
  background: #00000050;
  visibility: visible !important;
  border-radius: 15px;
  padding: 25px;
}
.cardTransform .content button {
  display: none;
}
.cardTransform .content p {
  color: #ffffff;
  display: flex;
  margin: 10px;
}
.box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 70%;
  width: 80%;
  margin: 0 auto;
}
.card:hover .title {
  bottom: 65%;
}
.title {
  position: absolute;
  bottom: 15%;
  color: #fff;
  text-shadow: #252525 2px 2px 3px;
  transition: 0.5s !important;
}
p {
  margin: 15% 0;
  color: #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.content {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
button {
  transition: 0.5s;
  width: 130px;
  height: 30px;
  border-radius: 25px;
  background: #fff;
  border: none;
  padding: 5px 0;
  cursor: pointer;
  outline: none;
}
button:hover {
  background: #e21622;
  color: #fff;
}
.card:hover .content {
  opacity: 1;
  transition-delay: 0.5s;
  visibility: visible;
}
.closed {
  position: absolute;
  right: 15px;
  top: 5px;
  display: none;
}
.closeding {
  top: 5%;
  right: 5%;
  display: block;
  z-index: 11;
  position: absolute;
}

@media only screen and (max-width: 758px) {
  .cardTransform .box {
    height: 100%;
  }
  .cardTransform .content {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .cardTransform .box {
    height: 100%;
  }
  .cardTransform .content {
    margin-bottom: 25px;
  }
  .cardTransform .title {
    bottom: 80%;
    font-size: 1.6rem;
  }
  .cardTransform p {
    font-size: 14px;
  }
  .cardTransform:hover .title {
    bottom: 80%;
  }
  .cardTransform .closed {
    top: 5%;
  }
}
@media only screen and (max-width: 350px) {
  .cardTransform p {
    font-size: 13px;
  }
  .cardTransform:hover .title {
    bottom: 75%;
  }
  .cardTransform .title {
    bottom: 75%;
  }
}
/*  */
body {
  margin: 0;
  background: #000; 
}
iframe { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}